.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background-image: url("../New_Assets/exc_image.png");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: -80px;

}
.offer-screen{
    background: rgba(0, 0, 0, 0.284);
    width: 100%;
}
.offers-left{
    padding-top: 100px;
}
.offers-left h1{
    color: #f2eeee;
    font-size: 80px;
    font-weight: 600;
}
.offers-left p{
    color: #f2eeee;
    font-size: 22px;
    font-weight: 600;
}
.offers-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height:70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;

}


@media(max-width:1280px){
    
    .offers{
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 18px;
    }
    .offers-right img{
        width: 300px;
    }
    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }

}
@media(max-width:1024px){
    .offers{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }
    .offers-left h1{
        font-size: 30px;
    }
    .offers-left p{
        font-size: 16px;
    }
    .offers-right img{
         width: 200px; 
    }
    .offers-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }

}
@media(max-width:800px){
    .offers{
        margin-bottom: 60px;
    }
    .offers-left h1{
        font-size: 22px;
    }
    .offers-left p{
        font-size: 13px;
    }

    .offers-left button{
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
}
@media(max-width:500px){
    .offers{
        margin-bottom: 25px;
        margin-bottom: 50px;
    }
    .offers-left h1{
        font-size: 16px;
    }
    .offers-left p{
        font-size: 10px;
    }

    .offers-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
}